.theme_light {
  --background-image: url(../images/cover-image-light.png);
  --title-color: #353430;
  --text-color: #353430;
  --hover-color: #32312D66;
  --decorated-color: #353430;
  --display: none;
  --accent-color: #FF8DCB;
  --main-color: #FFC2E6;
  --title-decor-color: #FF8DCB;
  --bg-color: #fff1f7;
} 

@media (prefers-color-scheme: light) {
  .page {
    --background-image: url(../images/cover-image-light.png);
    --title-color: #353430;
    --text-color: #353430;
    --hover-color: #32312D66;
    --decorated-color: #353430;
    --display: none;
    --accent-color: #FF8DCB;
    --main-color: #FFC2E6;
    --title-decor-color: #FF8DCB;
    --bg-color: #fff1f7;
    }
}