:root {
  --main-color: #db00ff;
  --background-image: url(../images/cover-image-dark.png);
  --title-color: #000028;
  --display: flex;
  --accent-color: #ff0070;
  --accent-font: "IBM Plex Mono";
  --hover-color: #ff007066;
  --title-decor-color: #ff0070;
  --text-color: #f1b2ce;
  --decorated-color: #ff0070;
  --bg-color: #000028;
}
